<h1>Restaurant page for <%= @restaurant.name %></h1>


<p><%= @restaurant.description %></p>
<h4><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %></h4>

<p><% @restaurant.reviews.each do |review| %></p>

	<%= review.content %>
	<%end%>
